.hidden-title {
    display: none;
}
.gallery {
    background-image: linear-gradient(to top,
            var(--color-primary) 70.3%,
            var(--background-lightsand) 29.7%);
    min-height: 136px;
}
.gallery__list {
    display: flex;
    justify-content: center;
}

.gallery__img {
    border-radius: 15px;
}
.gallery__list-third-second {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 105px;
    }
    @media screen and (min-width: 1200px) {
        width: 138px;
    }
}
.margin-first {
    margin-bottom: 2.52px;
}

.gallery__list-one {
    padding-top: 45px;
    padding-bottom: 47px;
    margin-right: 2.53px;
}

.gallery__img {
    transition: transform 0.5s var(--timing-function);
}

.gallery__list-one:hover img {
    transform: translatex(20px) scale(1.2);
    transition: 500ms var(--timing-function);
}

.gallery__list-sixth:hover img {
    transform: translatex(-20px) scale(1.2);
    transition: 500ms var(--timing-function);
}

.gallery__list-second {
    padding-top: 28px;
    padding-bottom: 18px;
    margin-right: 2.53px;
}

.img-hover:hover img {
    transform: scale(1.2);
    transition: 500ms var(--timing-function);
}

.gallery__list-third {
    margin-right: 2.53px;
}

.gallery__list-fourth {
    padding-top: 31px;
    padding-bottom: 15px;
    margin-right: 2.53px;
}

.gallery__list-fifth {
    padding-top: 21px;
    padding-bottom: 25px;
    margin-right: 2.53px;
}

.gallery__list-sixth {
    padding-top: 48px;
    padding-bottom: 43px;
}

@media screen and (min-width: 768px) {
    .gallery {
        min-height: 327px;
        background-image: linear-gradient(to bottom,
                var(--background-lightsand) 215px,
                var(--color-primary) 45px);
        padding-top: 32px;
        padding-bottom: 30px;
    }

    .gallery__list-one {
        padding-top: 108px;
        padding-bottom: 113px;
        margin-right: 6.07px;
    }

    .gallery__list-second {
        padding-top: 68px;
        padding-bottom: 44px;
        margin-right: 6.07px;
    }

    .gallery__list-third {
        margin-right: 6.07px;
    }

    .gallery__list-fourth {
        padding-top: 75px;
        padding-bottom: 35px;
        margin-right: 6.07px;
    }

    .gallery__list-fifth {
        padding-top: 50px;
        padding-bottom: 26px;
        margin-right: 6.07px;
    }

    .gallery__list-sixth {
        padding-top: 115px;
        padding-bottom: 72px;
    }

    .margin-first {
        margin-bottom: 6.05px;
    }

    .gallery__img {
        border-radius: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .gallery__list-one {
        padding-top: 143px;
        padding-bottom: 150px;
        margin-right: 8px;
    }

    .gallery__list-second {
        padding-top: 88px;
        padding-bottom: 58px;
        margin-right: 8px;
    }

    .gallery__list-third {
        margin-right: 8px;
    }

    .gallery__list-fourth {
        padding-top: 95px;
        padding-bottom: 47px;
        margin-right: 8px;
    }

    .gallery__list-fifth {
        padding-top: 63px;
        padding-bottom: 80px;
        margin-right: 8px;
    }

    .gallery__list-sixth {
        padding-top: 155px;
        padding-bottom: 137px;
    }

    .margin-first {
        margin-bottom: 8px;
    }

    .gallery__img {
        border-radius: 25px;
    }

    .gallery {
        background-image: linear-gradient(to top,
                var(--color-primary) 77.1%,
                var(--background-lightsand) 23.9%);
        min-height: 430px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}