.products-list {
    max-width: 1200px;
    justify-content: center;

    @media screen and (min-width: 768px) {
        display: flex;
        margin: -8px;

    }

    @media screen and (min-width: 1200px) {
        margin: -16px;
        margin-left: auto;
        margin-right: auto;
    }
}

.products-list__item {
    width: calc(100% - 200px);
    border-radius: 24px;
    margin-top: 148px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;

    @media screen and (max-width: 767px) {
        width: 280px;
        
    }

    @media screen and (min-width: 768px) {
        // width: calc((100% - 3 * 16px) / 3);
        width: 224px;
       
        margin: 128px 8px 8px 8px;
    }

    @media screen and (min-width: 1200px) {
        // width: calc((100% - 3 * 32px) / 3);
        width: 368px;
        margin: 213px 16px 16px 16px;
    }

    &--cream {
        background-color: var(--background-middle);
    }

    &--coffee {
        background-color: var(--background-sand);
    }

    &--milk {
        background-color: var(--background-lightgreen);
    }
}

.products-list__title {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--color-primary);

    &--cream::before {
        display: block;
        float: left;
        margin-top: -140px;
        margin-bottom: 20px;
        content: '';
        width: 100%;
        height: 280px;
        background-image: url(../images/mobile/ice-cream-mobile-1x.png);
        background-size: 280px 280px;
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            & {
                background-image: url(../images/mobile/ice-cream-mobile-2x.png);
            }
        }

        @media screen and (min-width: 768px) {
            height: 224px;
            margin-top: -120px;
            background-image: url(../images/tablet/ice-cream-tablet-1x.png);
            background-size: 224px 224px;

            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                & {
                    background-image: url(../images/tablet/ice-cream-tablet-2x.png);
                }
            }
        }

        @media screen and (min-width: 1200px) {
            height: 394px;
            margin-top: -213px;
            background-image: url(../images/desktop/ice-cream-desktop-1x.png);
            background-size: 394px 394px;

            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                & {
                    background-image: url(../images/desktop/ice-cream-desktop-2x.png);
                }
            }
        }
    }

    &--coffee::before {
        display: block;
        float: left;
        margin-top: -140px;
        margin-bottom: 20px;
        content: '';
        width: 100%;
        height: 280px;
        background-image: url(../images/mobile/ice-coffee-mobile-1x.png);
        background-size: 280px 280px;
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            & {
                background-image: url(../images/mobile/ice-coffee-mobile-2x.png);
            }
        }

        @media screen and (min-width: 768px) {
            height: 224px;
            margin-top: -120px;
            background-image: url(../images/tablet/ice-coffee-tablet-1x.png);
            background-size: 224px 224px;

            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                & {
                    background-image: url(../images/tablet/ice-coffee-tablet-2x.png);
                }
            }
        }

        @media screen and (min-width: 1200px) {
            height: 394px;
            margin-top: -213px;
            background-image: url(../images/desktop/ice-coffee-desktop-1x.png);
            background-size: 394px 394px;

            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                & {
                    background-image: url(../images/desktop/ice-coffee-desktop-2x.png);
                }
            }
        }
    }

    &--milk::before {
        display: block;
        float: left;
        margin-top: -140px;
        margin-bottom: 20px;
        content: '';
        width: 100%;
        height: 280px;
        background-image: url(../images/mobile/milkshakes-mobile-1x.png);
        background-size: 280px 280px;
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            & {
                background-image: url(../images/mobile/milkshakes-mobile-2x.png);
            }
        }

        @media screen and (min-width: 768px) {
            height: 224px;
            margin-top: -120px;
            background-image: url(../images/tablet/milkshakes-tablet-1x.png);
            background-size: 224px 224px;

            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                & {
                    background-image: url(../images/tablet/milkshakes-tablet-2x.png);
                }
            }
        }

        @media screen and (min-width: 1200px) {
            height: 394px;
            margin-top: -213px;
            background-image: url(../images/desktop/milkshakes-desktop-1x.png);
            background-size: 394px 394px;

            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                & {
                    background-image: url(../images/desktop/milkshakes-desktop-2x.png);
                }
            }
        }
    }
}

.dots {
    margin: 32px auto;
}

.products-list__text {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;

    color: var(--color-primary);
}

.products-list__button {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-primary);
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.1);
        background-color: var(--color-accent);

        .button-icon {
            fill: var(--color-primary);
        }
    }
}

.button-icon {
    width: 40px;
    height: 40px;
    fill: var(--color-accent);
}

// ---------------------------------------SLIDER----------------------------------

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-dots {
    display: flex;
    justify-content: center;
    // align-items: center;
}

.slick-dots li {
    margin-left: 4px;
    line-height: 6px;
}

.slick-dots button {
    font-size: 0;
    padding: 0;
    border: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.slick-dots li.slick-active button {
    background-color: var(--color-accent);
}