:root {
    --color-primary: #FFFFFF;
    --color-second: #000000;
    --color-accent: #d41443;
    --color-middle: #ffa5ba;
    --color-gray: #907e82;
    --color-iconaccent1: #d31342;
    --color-iconaccent2: #c7133e;
    --color-icon: #d9d9d9;

    --background-middle: #ffb8ca;
    --background-dark: #e17992;
    --background-sand: #f0d1a5;
    --background-lightsand: #fff5f6;
    --background-button: #fea5bb;
    --background-lightgreen: #c2e297;
    --background-lightpink: #ffa5bb;
    --background-light: #fafafa;

    --color-border: #e1e1e1;
    
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}