<section class="about" id="How-its-made">
    <div class="about__main-wrap container">
        <div class="cont">
            <h2 class="about__title">TRADITION AND LOVE</h2>
            <h3 class="about__subtitle">HOW IT’S MADE?</h3>
            <div class="about__wrap">
                <div class="about__wrap-picture">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/desktop/cow-desktop-1x.png 1x, ./images/desktop/cow-desktop-2x.png 2x">
                        <source media="(min-width: 768px)"
                            srcset="./images/tablet/cow-tablet-1x.png 1x, ./images/tablet/cow-tablet-2x.png 2x">
                        <img class="about__img" srcset="./images/mobile/cow-mobile-2x.png"
                            src="./images/mobile/cow-mobile-1x.png" alt="cow with bowl of milk">
                    </picture>
                </div>
                <div class="about__wrap-text">
                    <p class="about__main-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                        cursus,
                        faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                    <div class="about__secondary-wrap">
                        <p class="about__secondary-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio
                            elementum.
                            Mauris
                            rhoncus
                            orci in imperdiet placerat.
                            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                            tincidunt. <br>
                            <br>
                            Aliquam erat volutpat. Aenean accumsan.
                        </p>
                    </div>
                    <button class="about__btn">
                        <a class="about__link" href="#">Read more <span class="about__link-part">></span></a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>