<section class="advantage">
    <div class="container">
        <ul class="advantage__list">
            <li class="advantage__item dug">
                <p class="advantage__number">721</p>
                <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantage__item bucket">
                <p class="advantage__number">16KG</p>
                <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantage__item heart">
                <p class="advantage__number">84</p>
                <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>