<section class="contacts" id="Contact">
    <div class="contacts__container container">
        <h2 class="hidden">Our contacts</h2>
        <address>
            <ul class="contacts__card-list">
                <li class="contacts__card">
                    <div class="contacts__place-wrap">
                        <span class="contacts__place">CAFE</span>
                    </div>
                    <p class="contacts__location">Chicago</p>
                    <p class="contacts__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts__schedule">
                        <li>
                            <span class="contacts__days">Monday - Friday</span>
                            <span class="contacts__time"><time datetime="06:00">06:00 AM</time> - <time
                                    datetime="22:00">10:00 PM</time></span>
                        </li>
                        <li>
                            <span class="contacts__days">Saturday - Sunday</span>
                            <span class="contacts__time"><time datetime="08:00">08:00 AM</time> - <time
                                    datetime="16:00">16:00 PM</time></span>
                        </li>
                    </ul>
                    <ul class="contacts__link-list">
                        <li><a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284 </a></li>
                        <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </li>
                <li class="contacts__card">
                    <div class="contacts__place-wrap contacts__place-wrap--green">
                        <span class="contacts__place">FOOD TRUCK</span>
                    </div>
                    <p class="contacts__location">Los Angeles</p>
                    <p class="contacts__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts__schedule">
                        <li>
                            <span class="contacts__days">Monday - Friday</span>
                            <span class="contacts__time"><time datetime="06:00">06:00 AM</time> - <time
                                    datetime="22:00">10:00 PM</time></span>
                        </li>
                        <li>
                            <span class="contacts__days">Saturday - Sunday</span>
                            <span class="contacts__time"><time datetime="08:00">08:00 AM</time> - <time
                                    datetime="16:00">16:00 PM</time></span>
                        </li>
                    </ul>
                    <ul class="contacts__link-list">
                        <li><a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284 </a></li>
                        <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </li>
                <li class="contacts__card">
                    <div class="contacts__place-wrap">
                        <span class="contacts__place">CAFE</span>
                    </div>
                    <p class="contacts__location">New York</p>
                    <p class="contacts__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts__schedule">
                        <li>
                            <span class="contacts__days">Monday - Friday</span>
                            <span class="contacts__time"><time datetime="06:00">06:00 AM</time> - <time
                                    datetime="22:00">10:00 PM</time></span>
                        </li>
                        <li>
                            <span class="contacts__days">Saturday - Sunday</span>
                            <span class="contacts__time"><time datetime="08:00">08:00 AM</time> - <time
                                    datetime="16:00">16:00 PM</time></span>
                        </li>
                    </ul>
                    <ul class="contacts__link-list">
                        <li><a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284 </a></li>
                        <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </li>
            </ul>
        </address>
        <ul class="contacts__btn-list">
            <li>
                <button class="contacts__btn contacts__btn--red" type="button">
                    <a target="_blank"
                        href="https://www.google.com.ua/maps/place/About+Coffee/@40.7820079,-73.9723932,17z/data=!4m12!1m6!3m5!1s0x89c2589a018531e3:0xb9df1f7387a94119!2z0KbQtdC90YLRgNCw0LvRjNC90YvQuSDQv9Cw0YDQug!8m2!3d40.7812199!4d-73.9665138!3m4!1s0x89c25938095b82cb:0x37a323410d75bed2!8m2!3d40.7833819!4d-73.9742338?hl=ru"
                        class="contacts__btn contacts__btn--red">Our Locations
                        <svg class="contacts__icon"> 
                          <use href="./images/button-arrow-two.svg#icon-button-arrow-white"></use>
                        </svg>
                    </a>
                </button>
            <li><button class="contacts__btn" type="button">Franchise
                    <svg class="contacts__icon">
                        <use href="./images/symbol-defs.svg#icon-button-arrow"></use>
                    </svg>
                </button></li>
        </ul>
    </div>
</section>