<footer class="footer">
    <div class="footer-passion container">    
        <div class="footer-passion__box">
            <div class="footer-passion__box-title">
                <p class="footer-passion__title font_light">HOMEMADE ICE CREAM MADE</p>
                <p class="footer-passion__title font_pink">WITH PASSION</p>
            </div> 
            <div class="footer-passion__right-box">
                <div class="footer-passion__social-networks">
                    <a href="https://github.com" class="footer-passion__square">
                        <svg class="footer-passion__icon" aria-hidden="true">
                            <use href="./images/symbol-defs-two.svg#git"></use>
                        </svg>
                    </a> 
                    <a href="https://telegram.org" class="footer-passion__square">
                        <svg class="footer-passion__icon" aria-hidden="true">
                            <use href="./images/symbol-defs-two.svg#teleg"></use>
                        </svg>
                    </a> 
                    <a href="https://www.facebook.com" class="footer-passion__square">
                        <svg class="footer-passion__icon" aria-hidden="true">
                            <use href="./images/symbol-defs-two.svg#facebook"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer-passion__contact">
                    Feel free to contact
                    <a class="footer-passion__tel" href="tel:+380961111111">
                    +61 (0) 383 766 284</a>
                </div> 
            </div> 
        </div>
        <div class="footer-passion__silver-line">
            <p class="footer-passion__copyright">© 2022 - IceCream. All Rights Reserved.</p>
        </div>
    </div>
</footer>