<section class="gallery" id="Our-products">
  <h2 class="hidden-title">Заголовок</h2>
  <div class="gallery__list gallery__item container">
    <div class="gallery__list-one gallery__item">
      <img srcset="
          ./images/gallery-images/one2x-44.jpg   88w,
          ./images/gallery-images/one2x-105.jpg  210w,
          ./images/gallery-images/one2x-138.jpg 276w
        " class="gallery__img" src="./images/gallery-images/seven2x-44.jpg" alt="ice cream"
        sizes="(min-width: 1200px) 276px, (min-width: 630px) 210px, (max-width: 767px) 88px" />
    </div>
    <div class="gallery__list-second">
      <div class="img-hover"> 
        <img srcset="
          ./images/gallery-images/two2x-44.jpg   88w,
          ./images/gallery-images/two2x-105.jpg  210w,
          ./images/gallery-images/two2x-138.jpg 276w
        " class="gallery__img margin-first" src="./images/gallery-images/two2x-44.jpg" alt="ice cream"
          sizes="(min-width: 1200px) 276px, (min-width: 630px) 210px, (max-width: 767px) 88px" />
      </div>
      <div class="img-hover">
        <img srcset="
          ./images/gallery-images/three2x-44.jpg   88w,
          ./images/gallery-images/three2x-105.jpg  210w,
          ./images/gallery-images/three2x-138.jpg 276w
        " class="gallery__img" src="./images/gallery-images/three2x-44.jpg" alt="ice cream"
          sizes="(min-width: 1200px) 276px, (min-width: 630px) 210px, (max-width: 767px) 88px" />
      </div>
    </div>
    <div>
      <div class="gallery__list-third margin-first img-hover">
        <img srcset="
            ./images/gallery-images/four2x-90.jpg   180w,
            ./images/gallery-images/four2x-215.jpg  430w,
            ./images/gallery-images/four2x-283.jpg 566w
          " class="gallery__img" src="./images/gallery-images/four2x-90.jpg" alt="ice cream"
          sizes="(min-width: 1200px) 566px, (min-width: 630px) 430px, (max-width: 767px) 180px" />
      </div>
      <div class="gallery__list-third-second img-hover">
        <img srcset="
            ./images/gallery-images/five2x-44.jpg   44w,
            ./images/gallery-images/five2x-105.jpg  105w,
            ./images/gallery-images/five2x-138.jpg 138w
          " class="gallery__img" src="./images/gallery-images/five2x-44.jpg" alt="ice cream" sizes="6vw" />
      </div>
    </div>
    <div class="gallery__list-fourth"> 
      <div class="img-hover">
        <img srcset="
          ./images/gallery-images/six2x-44.jpg   88w,
          ./images/gallery-images/six2x-105.jpg  210w,
          ./images/gallery-images/six2x-138.jpg 276w
        " class="gallery__img margin-first" src="./images/gallery-images/six2x-44.jpg" alt="ice cream"
          sizes="(min-width: 1200px) 276px, (min-width: 630px) 210px, (max-width: 767px) 88px" />
      </div>
      <div class="img-hover">
        <img srcset="
          ./images/gallery-images/seven2x-44.jpg   88w,
          ./images/gallery-images/seven2x-105.jpg  210w,
          ./images/gallery-images/seven2x-138.jpg 276w
        " class="gallery__img" src="./images/gallery-images/seven2x-44.jpg" alt="ice cream"
          sizes="(min-width: 1200px) 276px, (min-width: 630px) 210px, (max-width: 767px) 88px" />
      </div>
    </div>
    <div class="gallery__list-fifth">
      <div class="img-hover">
        <img srcset="
          ./images/gallery-images/eight2x-44.jpg   88w,
          ./images/gallery-images/eight2x-105.jpg  210w,
          ./images/gallery-images/eight2x-138.jpg 276w
        " class="gallery__img margin-first" src="./images/gallery-images/eight2x-44.jpg" alt="ice cream"
          sizes="(min-width: 1200px) 276px, (min-width: 630px) 210px, (max-width: 767px) 88px" />
      </div>
      <div class="img-hover">
        <img srcset=" 
          ./images/gallery-images/nine2x-44.jpg   88w,
          ./images/gallery-images/nine2x-105.jpg  210w,
          ./images/gallery-images/nine2x-138.jpg 276w
        " class="gallery__img" src="./images/gallery-images/nine2x-44.jpg" alt="ice cream"
          sizes="(min-width: 1200px) 276px, (min-width: 630px) 210px, (max-width: 767px) 88px" />
      </div>
    </div>
    <div class="gallery__list-sixth">
      <img srcset="
          ./images/gallery-images/ten2x-44.jpg   88w,
          ./images/gallery-images/ten2x-105.jpg  210w,
          ./images/gallery-images/ten2x-138.jpg 276w
        " class="gallery__img" src="./images/gallery-images/ten2x-44.jpg" alt="ice cream"
        sizes="(min-width: 1200px) 276px, (min-width: 630px) 210px, (max-width: 767px) 88px" />
    </div>
  </div>
</section>