<header class="header">
    <div class="container">
        <div class="nav__bar">
            <svg class="nav__logo" width="199px" height="50px">
                <use class="nav__logo-icon" href="./images/desktop/symbol-defs.svg#icon-header-logo"></use>
            </svg>
            <nav class="nav__main">
                <ul class="nav__main-list">
                    <li class="nav__main-item">
                        <a class="nav__main-link" href="#Home">Home</a>
                    </li>
                    <li class="nav__main-item">
                        <a class="nav__main-link" href="#about-us">About us</a>
                    </li>
                    <li class="nav__main-item">
                        <a class="nav__main-link" href="#How-its-made">How it's made?</a>
                    </li>
                    <li class="nav__main-item">
                        <a class="nav__main-link" href="#Our-products">Our products</a>
                    </li>
                    <li class="nav__main-item">
                        <a class="nav__main-link" href="#Contact">Contact</a>
                    </li>
                </ul>
            </nav>

            <button class="button-open" type="button" js-data-modal-open>
                <svg class="button-open__burger" width="20px" height="12px">
                    <use class="icon-mobile-open" href="./images/desktop/symbol-defs.svg#icon-burger"></use>
                </svg>
            </button>
            <button class="nav__button--second" type="button" data-modal-open-second>
                Buy now
                <svg width="8px" height="9px" class="nav__image">
                    <use href="./images/desktop/symbol-defs.svg#icon-button-arrow"></use>
                </svg>
            </button>
        </div>
        <div class="backdrop is-hidden" js-data-modal>
            <div class="modal-button">
                <button class="button-close" js-data-modal-close>
                    <svg class="close-icon" aria-label="link mail" width="15" height="15">
                        <use href="./images/close-cross-red.svg#close"></use>
                    </svg>
                </button>
                <button class="nav__button" type="button" data-modal-open>
                    Buy now
                    <svg width="8px" height="9px" class="nav__image">
                        <use href="./images/desktop/symbol-defs.svg#icon-button-arrow"></use>
                    </svg>
                </button>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a class="nav__link" href="#Home">Home</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#about-us">About us</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#How-its-made">How it's made?</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#Our-products">Our products</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#Contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</header> 

