<div class="modal__backdrop modal__is-hidden" data-modal>
    <div class="modal">
        <button class="modal__close-button" type="button" data-modal-close>
            <svg class="modal__icon-close">
                <use href="./images/symbol-defs.svg#icon-icecream"></use>

            </svg>
        </button>

        <a href="./index.html" class="modal__logo">
            <svg class="modal__logo-icon">
                <use href="./images/symbol-defs.svg#icon-modal-logo"></use>
            </svg>
        </a>

        <h1 class="modal__big-title">
            Pick your flavors
        </h1>
        <p class="modal__header-text">
            5 for $50 add a 6th for only $7
        </p>
        <div class="modal__gallery">
            <ul class="modal__gallery-inner">
                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source
                            srcset="./images/modal-header/bubblegum-pop-360x240-1x.webp 1x, ./images/modal-header/bubblegum-pop-360x240-2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./images/modal-header/bubblegum-pop-1024x1024-1x.webp 1x"
                            media="(max-width: 767px)" type="image/webp">

                        <img src="./images/modal-header/bubblegum-pop-1024x1024-1x.webp" alt="Bubblegum Pop"
                            class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">Bubblegum Pop</a>
                        <p class="modal__text">Bubblegum ice cream with hot pink sprinkles. Ingridients: WHOLE MILK,
                            HEAVY CREAM, SKIM MILK POWDER, DEXTROSE, CHERRY, GRANULATED SUGAR, ALMONDS, EGG YOLKS, AGAR
                            AGAR, GUAR GUM,
                            BAKING SODA, CITRIC ACID, SALT </p>
                        <button class="modal__gallery-button" type="button">$12.99</button>
                    </div>
                </li>
                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source
                            srcset="./images/modal-header/coffee-crunch-360x240-1x.webp 1x, ./images/modal-header/coffee-crunch-360x240-2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./images/modal-header/coffee-crunch-1024x1024-1x.webp 1x"
                            media="(max-width: 767px)" type="image/webp">
                        <img src="./images/modal-header/coffee-crunch-1024x1024-1x.webp" alt="Coffee Crunch"
                            class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">Coffee Crunch</a>
                        <p class="modal__text">A coffee-based ice cream with freeze-dried coffee soil mixed in.
                            Ingridients: WHOLE MILK, HEAVY CREAM, SKIM MILK POWDER, DEXTROSE, GRANULATED SUGAR, EGG
                            YOLK, CITRIC ACID, BAKING SODA, GUAR GUM,
                            COFFEE, FREEZE DRIED COFFEE, CHOCOLATE POWDER, ALMOND FLOUR, SALT, ALL PURPOSE FLOUR,
                            UNSALTED BUTTER</p>
                        <button class="modal__gallery-button" type="button">$12.99</button>
                    </div>
                </li>
                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source
                            srcset="./images/modal-header/buckeye-360x240-1x.webp 1x, ./images/modal-header/buckeye-360x240-2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./images/modal-header/buckeye-1024x1024-1x.webp 1x" media="(max-width: 767px)"
                            type="image/webp">
                        <img src="./images/modal-header/buckeye-1024x1024-1x.webp" alt="Bubblegum Pop"
                            class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">Buckeye</a>
                        <p class="modal__text">Peanut butter ice cream with swirls of chocolate fudge and mini Buckeyes.
                            Ingridients: WHOLE MILK, HEAVY CREAM, SKIM MILK POWDER, DEXTROSE, CHERRY, GRANULATED SUGAR,
                            ALMONDS, EGG YOLKS, AGAR AGAR, GUAR GUM,
                            BAKING SODA, CITRIC ACID, SALT</p>
                        <button class="modal__gallery-button" type="button">$10.99</button>
                    </div>
                </li>
                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source srcset="./images/modal-header/cinnamon-dulcede-leche-360x240-1x.webp 1x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./images/modal-header/cinnamon-dulcede-leche-1024x1024-1x.webp 1x"
                            media="(max-width: 767px)" type="image/webp">
                        <img src="./images/modal-header/cinnamon-dulcede-leche-1024x1024-1x.webp" alt="Pecan Sticky Bun"
                            class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">Pecan Sticky Bun</a>
                        <p class="modal__text">Our new collaborative flavor with Flour Bakery, Pecan Sticky Bun is a
                            cinnamon infused sweet cream with swirls of
                            caramel and chunks of Flour's homemade Pecan Sticky Buns. Ingridients: WHOLE MILK, HEAVY
                            CREAM, SKIM MILK POWDER, DEXTROSE, CHERRY, GRANULATED SUGAR, ALMONDS, EGG YOLKS, AGAR AGAR,
                            GUAR GUM,
                            BAKING SODA, CITRIC ACID, SALT</p>
                        <button class="modal__gallery-button" type="button">$13.99</button>
                    </div>
                </li>
                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source
                            srcset="./images/modal-header/smoky-bourbon-360x240-1.webp 1x, ./images/modal-header/smoky-bourbon-360x240-2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./images/modal-header/smoky-bourbon-1024x1024-1x.webp 1x"
                            media="(max-width: 767px)" type="image/webp">
                        <img src="./images/modal-header/smoky-bourbon-1024x1024-1x.webp" alt="smoky-bourbon"
                            class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">Smoky Vanilla Bourbon Twist</a>
                        <p class="modal__text">Vanilla bourbon ice cream with smoky caramel and chopped almond.
                            Ingridients: WHOLE MILK, HEAVY CREAM, SKIM MILK POWDER, DEXTROSE, CHERRY, GRANULATED SUGAR,
                            ALMONDS, EGG YOLKS, AGAR AGAR, GUAR GUM,
                            BAKING SODA, CITRIC ACID, SALT</p>
                        <button class="modal__gallery-button" type="button">$14.99</button>
                    </div>
                </li>
                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source
                            srcset="./images/modal-header/outer-spice-360x240-1x.webp 1x, ./images/modal-header/outer-spice-360x240-2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./images/modal-header/outer-spice-1024x1024-1x.webp 1x"
                            media="(max-width: 767px)" type="image/webp">
                        <img src="./images/modal-header/outer-spice-1024x1024-1x.webp" alt="Journey to Outerspice"
                            class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">Journey to Outerspice</a>
                        <p class="modal__text">Miso cinnamon ice cream with swirls of caramel. Ingridients: WHOLE MILK,
                            HEAVY CREAM, SKIM MILK POWDER, DEXTROSE, CHERRY, GRANULATED SUGAR, ALMONDS, EGG YOLKS, AGAR
                            AGAR, GUAR GUM,
                            BAKING SODA, CITRIC ACID, SALT</p>
                        <button class="modal__gallery-button" type="button">$10.49</button>
                    </div>
                </li>
                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source
                            srcset="./images/modal-header/chocotorta-360x240-1x.webp 1x, ./images/modal-header/chocotorta-360x240-2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./images/modal-header/chocotorta-1024x1024-1x.webp 1x"
                            media="(max-width: 767px)" type="image/webp">
                        <img src="./images/modal-header/chocotorta-1024x1024-1x.webp" alt="Chocotorta"
                            class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">Chocotorta</a>
                        <p class="modal__text">A sour cream-cream cheese ice cream with dulce de leches swirls and
                            cookie soil mixed in. Ingridients: WHOLE MILK, HEAVY CREAM, SKIM MILK POWDER, DEXTROSE,
                            GRANULATED SUGAR, EGG YOLK, CITRIC ACID, BAKING SODA, GUAR GUM,
                            CREAM CHEESE, SOUR CREAM, CULTURED PASTEURIZED LIGHT CREAM AND NON FATMILK, POTASSIUM
                            SORBATE, ENZYME, CORN SYRUP, AGAR
                            AGAR, ENRICHED FLOUR (BLEACHED WHEAT FLOUR, NIACIN, IRON, THIAMIN MONONITRATE RIBOFLAVIN,
                            FOLIC ACID), CANOLA OIL, PALM
                            OIL, SOYBEAN OIL, HIGH FRUCTOSE CORN SYRUP, COCOA, CALCIUM PHOSPHATE, AMMONIUM BICARBONATE,
                            BAKING SODA, SOY LECITHIN,
                            GUM ACACIA, MALTODEXTRIN, NATURAL AND ARTIFICIAL FLAVOR</p>
                        <button class="modal__gallery-button" type="button">$12.49</button>
                    </div>
                </li>
                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source
                            srcset="./images/modal-header/cookiesand-cream-360x240-1x.webp 1x, ./images/modal-header/cookiesand-cream-360x240-2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./images/modal-header/cookiesand-cream-1024x1024-1x.webp 1x"
                            media="(max-width: 767px)" type="image/webp">
                        <img src="./images/modal-header/cookiesand-cream-1024x1024-1x.webp" alt="Cookies & Cream"
                            class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">Cookies & Cream</a>
                        <p class="modal__text">A sweet cream ice cream with chocolate cookie crumbs mixed throughout.
                            Ingridients: WHOLE MILK, HEAVY CREAM, SKIM MILK POWDER, DEXTROSE, GRANULATED SUGAR, EGG
                            YOLK, CITRIC ACID, BAKING SODA, GUAR GUM,
                            BLACK OUT COOKIES (ENRICHED FLOUR (BLEACHED WHEAT FLOUR, NIACIN, IRON, THIAMIN MONONITRATE
                            RIBOFLAVIN, FOLIC ACID),
                            CANOLA OIL, PALM OIL, SOYBEAN OIL, HIGH FRUCTOSE CORN SYRUP, COCOA, CALCIUM PHOSPHATE,
                            AMMONIUM BICARBONATE, BAKING
                            SODA, SOY LECITHIN, GUM ACACIA, MALTODEXTRIN, NATURAL AND ARTIFICIAL FLAVOR)</p>
                        <button class="modal__gallery-button" type="button">$12.49</button>
                    </div>
                </li>
                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source
                            srcset="./images/modal-header/cookiesand-mint-360x240-1x.webp 1x, ./images/modal-header/cookiesand-mint-360x240-2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./images/modal-header/cookiesand-mint-1024x1024-1x.webp 1x"
                            media="(max-width: 767px)" type="image/webp">
                        <img src="./images/modal-header/cookiesand-mint-1024x1024-1x.webp" alt="Cookies & Mint"
                            class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">Cookies & Mint</a>
                        <p class="modal__text">A mint based ice cream with chocolate cookie crumbs mixed throughout.
                            Ingridients: WHOLE MILK, HEAVY CREAM, SKIM MILK POWDER, DEXTROSE, GRANULATED SUGAR, EGG
                            YOLK, CITRIC ACID, BAKING SODA, GUAR GUM,
                            MINT EXTRACTS, 60.6% DARK CHOCOLATE, COCONUT OIL, BLACK OUT COOKIES (ENRICHED FLOUR
                            (BLEACHED WHEAT FLOUR, NIACIN, IRON,
                            THIAMIN MONONITRATE RIBOFLAVIN, FOLIC ACID), CANOLA OIL, PALM OIL, SOYBEAN OIL, HIGH
                            FRUCTOSE CORN SYRUP, COCOA, CALCIUM
                            PHOSPHATE, AMMONIUM BICARBONATE, BAKING SODA, SOY LECITHIN, GUM ACACIA, MALTODEXTRIN,
                            NATURAL AND ARTIFICIAL FLAVOR)</p>
                        <button class="modal__gallery-button" type="button">$13.99</button>
                    </div>
                </li>
                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source
                            srcset="./images/modal-header/buckeye-360x240-1x.webp 1x, ./images/modal-header/buckeye-360x240-2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./images/modal-header/buckeye-1024x1024-1x.webp 1x" media="(max-width: 767px)"
                            type="image/webp">
                        <img src="./images/modal-header/buckeye-1024x1024-1x.webp" alt="Bubblegum Pop"
                            class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">Olive Oil</a>
                        <p class="modal__text">A mint based ice cream An olive oil infused sweet cream ice cream.
                            Ingridients: WHOLE MILK, HEAVY CREAM, SKIM MILK POWDER, DEXTROSE, GRANULATED SUGAR, EGG
                            YOLK, CITRIC ACID, BAKING SODA, GUAR GUM,
                            EXTRA VIRGIN OLIVE OIL</p>
                        <button class="modal__gallery-button" type="button">$10.49</button>
                    </div>
                </li>

                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source srcset="./images/modal-header/sprinkles-360x240-1x.webp"
                            media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/modal-header/sprinkles-1024x1024-1x.webp" media="(max-width: 767px)"
                            type="image/webp">
                        <img src="./images/modal-header/sprinkles-1024x1024-1x.webp" alt="Sprinkles"
                            class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">Sprinkles</a>
                        <p class="modal__text">A sweet cream ice cream with rainbow sprinkles mixed in. Ingridients:
                            WHOLE MILK, HEAVY CREAM, SKIM MILK POWDER, DEXTROSE, GRANULATED SUGAR, EGG YOLK, CITRIC
                            ACID, BAKING SODA, GUAR GUM,
                            RAINBOW SPRINKLES (SUGAR, CORN STARCH, PALM & PALM KERNEL OIL, SOY LECITHIN, DEXTRIN,
                            CARNAUBA WAX, CONFECTIONERS GLAZE,
                            FD&COLORS)</p>
                        <button class="modal__gallery-button" type="button">$11.99</button>
                    </div>
                </li>
                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source srcset="./images/modal-header/chocolate-chunk-360x240-1x.webp 1x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./images/modal-header/chocolate-chunk-1024x1024-1x.webp 1x"
                            media="(max-width: 767px)" type="image/webp">
                        <img src="./images/modal-header/chocolate-chunk-1024x1024-1x.webp" alt="Chocolate Chunk"
                            class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">Chocolate Chunk</a>
                        <p class="modal__text">A 64% dark chocolate based ice cream with magic dark chocolate chunks
                            mixed in. Ingridients: WHOLE MILK, HEAVY CREAM, SKIM MILK POWDER, DEXTROSE, GRANULATED
                            SUGAR, EGG YOLK, CITRIC ACID, BAKING SODA, GUAR GUM,
                            60.6% DARK CHOCOLATE, COCONUT OIL</p>
                        <button class="modal__gallery-button" type="button">$15.99</button>
                    </div>
                </li>
            </ul>
        </div>
        <section class="modal__footer modal__big-title">
            <div class="modal__info">
                <a class="modal__info-link" href="./index.html#contacts">Local shop & delivery</a>
            </div>
            <div>
                <p class="modal__sub-title">ODDS AND ENDS</p>
                <p class="modal__sub-text">Keep up with the latest</p>
            </div>
            <form>
                <div class="modal__subscription">
                    <div class="modal__form">
                        <div class="modal__form-place">
                            <input class="modal__form-input" id="modal-user-phone" type="tel" name="modal-user-phone"
                                placeholder="Phone number">
                            <svg class="modal__form-icon" aria-hidden="true">
                                <use href="./images/symbol-defs.svg#phone"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="modal__form">
                        <div class="modal__form-place">
                            <input class="modal__form-input" id="modal-user-email" type="email" name="modal-user-email"
                                placeholder="Email">
                            <svg class="modal__form-icon" aria-hidden="true">
                                <use href="./images/symbol-defs.svg#letter"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="modal__form-button">
                    <button class="modal__form-button modal__button" type="submit">Send to us
                        <svg class="modal__icon-form">
                            <use href="./images/symbol-defs.svg#icon-icecream"></use>
                        </svg>
                    </button>
                </div>
                <div class="modal__end">
                    <button class="modal__close-end" type="submit"> Close
                        <svg class="modal__icon-end">
                            <use href="./images/symbol-defs.svg#icon-icecream"></use>
                        </svg>
                    </button>
                </div>
            </form>
        </section>
    </div>
</div> 