<section class="section-products" id="about-us">
    <div class="container">
        <p class="section-products__label">100% natural</p>
        <h2 class="section-products__title">products</h2>
        <ul class="products-list">
            <li class="products-list__item products-list__item--cream">
                <h3 class="products-list__title products-list__title--cream">
                    ice cream 
                </h3>
                <div class="dots dots--cream"></div>
                <div class="slider-cream">
                    <div class="slider__item">
                        <p class="products-list__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna aliqua
                            facilisis.
                        </p>
                    </div>
                    <div class="slider__item">
                        <p class="products-list__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna aliqua
                            facilisis.
                        </p>
                    </div>
                    <div class="slider__item">
                        <p class="products-list__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna aliqua
                            facilisis.
                        </p>
                    </div>
                </div>
                <button class="products-list__button products-list__button--cream" type="button">
                    <svg class="button-icon">
                        <use href="./images/symbol-defs.svg#icon-arrow-only-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="products-list__item products-list__item--coffee">
                <h3 class="products-list__title products-list__title--coffee">
                    ice coffee
                </h3>
                <div class="dots dots--coffee"></div>
                <div class="slider-coffee">
                    <div class="slider__item">
                        <p class="products-list__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna aliqua
                            facilisis.
                        </p>
                    </div>
                    <div class="slider__item">
                        <p class="products-list__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna aliqua
                            facilisis.
                        </p>
                    </div>
                    <div class="slider__item">
                        <p class="products-list__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna aliqua
                            facilisis.
                        </p>
                    </div>
                </div>
                <button class="products-list__button products-list__button--coffee" type="button">
                    <svg class="button-icon">
                        <use href="./images/symbol-defs.svg#icon-arrow-only-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="products-list__item products-list__item--milk">
                <h3 class="products-list__title products-list__title--milk">
                    milkshakes
                </h3>
                <div class="dots dots--milkshakes"></div>
                <div class="slider-milkshakes">
                    <div class="slider__item">
                        <p class="products-list__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna aliqua
                            facilisis.
                        </p>
                    </div>
                    <div class="slider__item">
                        <p class="products-list__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna aliqua
                            facilisis.
                        </p>
                    </div>
                    <div class="slider__item">
                        <p class="products-list__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna aliqua
                            facilisis.
                        </p>
                    </div>
                </div> 
                <button class="products-list__button products-list__button--milkshakes" type="button">
                    <svg class="button-icon">
                        <use href="./images/symbol-defs.svg#icon-arrow-only-arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section> 